section{
    float:left;
    width: 21%;
    padding: 1%;
    margin: 1%;
    background-color: antiquewhite;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  nav{
      position:fixed;
      top:0;
      left:0;
      width: 100%;
  }

nav{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
}
body{
    padding-top: 65px;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);


body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.navigation {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    padding-top: 0px;
}

.navigation a {
    text-decoration: none;
}

.navigation ul {
    margin-top:30px;
    text-align:center;
    list-style:none; 
    margin-left:auto;
    margin-right:auto;
}


.menulist {
    width:200px;
}


.logo {
    text-align:center;
    margin:0 auto;
}

.line1, .line2, .line3 {
  margin-top:5px;
  background-color:#fff;
  width:25px;
  height:3px;
  display:block;
  position:relative;
  opacity:1.0;
  border-radius:15%;
  transition: all .3s;
}

.line1.active {
  transform: rotate(270deg);
  opacity:0.0;
  background-color:yellow;
  top:5px;
}

.line2.active {
  transform: rotate(45deg);
  background-color:yellow;
}

.line3.active {
  transform: rotate(-45deg);
  background-color:yellow;
  top:-7px;
}

.menuitems {
    padding-top:12px;
    padding-bottom:12px;
    text-decoration: none;
    list-style:none; 
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 24px;
    display: inline-block;
    position:relative;	
    text-align:center;
    color: #fff;
    opacity:0.0;
    transition: all .5s ease-in-out;
    width: 200px;
}

.menuitems:after {
  content:'';
  display:block;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width .2s;
}

.menuitems:hover::after {
    width:100%;
}

#closebtn {
    height:25px;
    width:25px;	
    position: absolute;
    text-decoration:none;
    top: 10px;
    left: 25px;
    font-size: 36px !important;
    margin-right: 50px;
    z-index:100;
    color:#fff;
    cursor:pointer;
    transition:background-position .3s;
}

#main {	
    transition: margin-top .4s;
    text-align:center;
    margin:auto;
    padding: 16px;
    font-size:30px;
}

#topNav{
  display: none;
}
*{
  padding: 0;
  margin: 0;
}

@media screen and (max-width:700px) {
    section{
        width:46%;
        /* background-color: aqua; */
    }
}

@media screen and (max-width:480px) {
    section{
        width:96%;
    }
    nav{
      display: none;
    }

    #topNav{
      display: block;

    }
}