/* Flexbox Demo

CSS layouts
https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_mode

https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox

 */


.container{
  display:flex;   /* only change display to flex to make flex container  */
  flex-wrap:wrap;  /*  nowrap( shrink to fit the container )  , wrap( items be too large to all display in one line, they will wrap onto another line)  */  
  background-color: #444444;
 /*
  flex-direction: column-reverse;
  width:110px;

 
  */  
  justify-content:flex-end;      /*   right justify*/
  justify-content:space-between;
  justify-content:flex-start;  /* add item to start  */
  justify-content:center;     /*   center justify*/   
  justify-content:space-around;    /*  set up a margn around elements*/
/*
  justify-content:center;
  align-items:center;
*/

}
.container div{
  color:white;
  height:100px;
  width:100px;
  background-color:#999999;
  text-align:center;
  line-height:100px;
  font-size:50px;
  margin:5px;
}