/* 

What are Pseudo-classes?
A pseudo-class is used to define a special state of an element.

For example, it can be used to:

Style an element when a user mouses over it
Style visited and unvisited links differently
Style an element when it gets focus

*************************************************

The syntax of pseudo-classes:

selector:pseudo-class {
  property: value;
}

-------------

pseudo-classes:
Hover
link
visited
active
Checked
Disabled

Focus   (  cheetsheet)
Required


 */

/**********************************/


a:hover {   /* mouse over link  */
	color: blue ;
}
  
a:link{   /* apply to unvisited link  ( if not showing, clear browser history ) */
	color:grey;
}
a:visited{  /* apply to unvisited link  */
	color:black;
}

a:active {   /* selected link  */
  color: yellow;
}

/**********************************/

button:hover{   /* apply when we take cursor over button  */
	background-color:red;
	color:white;
}
button:active{    /*  apply when you click ( press + release ) it  */
	background-color:yellow;
}

/**********************************/



li:first-child{     
	/* Select elements that are the  first child inside a container     */
	  /* // The :first-child pseudo-class matches a specified element that is the first child of another element. */

	background-color:#93ff7d;
}
li:last-child{
	background-color:#93ff7d;
}
li:nth-child(3){
	/* //  apply to 3rd item */
	background-color:#93ff7d;
}
li:nth-child(odd){  
	 /* //  apply to all odd items */
	background-color:#93ff7d;
}
li:nth-child(even){    
	/* //  apply to all even items */
	background-color:#caffbf;
}

li:nth-child(2n+1){

	/*
		nth-child(an+b)
		a = cycle size
		n = counter (start's from 0)
		b = offset value

       ******************

       final value'th of expression item would be afected at each iteration i.e.

        3n  applt to   -> all to 3(0)= 0  ,    3(1)= 3   ,   3(2)= 6   , 3(9)= 9    ...  items (0,3,6,9,...)   
        2n+1  applt to -> all to 2(0)+1= 1  , 2(1)+1= 3  , 2(2)+1= 5  , 2(3)+1=7    ...  items (1,3,5,7,...)

	*/
	background-image: linear-gradient(to right,#fff421,#ffffff);
	opacity: 0.5;
	border: 1px solid;
}