

.container{
    background-color: beige;
    width: 600px;
    margin: auto;
    display:flex;
   
}  




.box{
    height: 100px;
    width: 100px;
    /* margin: 5px;  */
    /* margin:auto;    */
}


