.square{
    border-radius: 50%;
}

.landscape{
    width:200px;
    height: 200px;   
    overflow:hidden;   /*  just to hide overflow*/
    border-radius: 50%;
}

.landscape img{
    /* as in landscape width is greater than height */
    height: 100%;
    margin-left: -25px;
}

.portrait{
    width:200px;
    height: 200px;   
    overflow:hidden;
    border-radius: 50%;
}

.portrait img{
    width: 100%;
    margin-top: -25px;
}