/*
text-alignment:;

text align property to move the text left right or center 
of some sort of box or a container or the entire webpage itself.
*/
p
{
	border: 1px solid;
    width: 250px;
}

#p1{
	text-align:left;
}
#p2{
	text-align: center;
}
#p3{
	text-align: right;
}

#p4{
	text-align:justify;
}
