section{
    float:left;
    width:21%;
    padding:1%;
    margin:1%;
    background-color: antiquewhite;
}



@media screen and (max-width:700px) {
    /* this will  if width is less than 700 px */
    section{
        width: 46%;  /*  means two col in screen */
    }
}

@media screen and (max-width:480px) {
    /* apply for screen < 480px */
    section{
        width: 96%;  /*  means only one col in screen */
    }
}